h1, h2{
    text-align: center;
    font-size: 300%;
    color: white;
}

.tamanho{
    width: 100%; 
    font-size: 90%; margin: auto; 
    padding: 5px;
}

div{
    width: 100%; 
    text-align: center; 
    padding: 5px;
}

table, tr{
    border: 1px solid white; 
    margin: auto;
    width: 15%; 
    padding: 20px;
}

body{
    background-color: #fafeff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(imagens/pesos.jpg);
}

#imcForm{
    text-align: center;
    border: 1px solid black; 
    margin: auto;
    width: 15%; 
    padding: 20px;
    font-size: 170%;
    color: white;
}

.navbar1{
    background-color: #333;
    padding: 10px 20px;
}

.navbar1 ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar1 li{
    margin: 0 15px;
}

.navbar1 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
}

.navbar1 a:hover{
    color: #f39c12;
}

.carousel {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    right: 50%;
  }
  
#carousel-item .text {
    text-align: center;
  }
#logo{
    width: 50px; 
    height: 50px;
    display: block;
    margin: 0 auto;
}

#logo a{
    transition: color 0.3s ease; 
}

#logo a:hover{
    color: #f39c12;
}


#texto, #link_emagrecer{
    position: relative;
    right: 12%;
}

#gordin, #link_engordar{
    position: relative;
    right: 13%;
}
#principal, #h, #principal2, #dados{
    color: white;
}
