.navbar1{
    background-color: #333;
    padding: 10px 20px;
}

.navbar1 ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar1 li{
    margin: 0 15px;
}

.navbar1 a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; 
}

.navbar1 a:hover{
    color: #f39c12;
}
#logo{
    width: 50px; 
    height: 50px;
    display: block;
    margin: 0 auto;
}
body{
    background-color: #000;
    color: white;
}

h1{
    text-align: center; font-size: 300%;
}

p{
    text-align: center;
}

img{
    width: 30%; height: 30%;
    display: block; margin: 0 auto; 
}

div{
    font-size: 40px
}